
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.col-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    opacity: 1;
    overflow-anchor: none;
}

.back:hover h2 {
    font-size: 38px;
    box-shadow: None;
}

.back:hover .img-icon {
    height: 87px;
}

#arrow:hover{
    height: 4.5em;
}


.img-icon {
    height: 80px;
    width: auto;
    padding-bottom: 20px;
}

#prof {
    background: url("resources/math3.jpg") no-repeat;
}
#res {
    background: url("resources/server2.jpg") no-repeat;
}
#port {
    background: url("resources/laptop.jpg") no-repeat;
}
#con {
    background: url("resources/office.jpg") no-repeat;
}
#foot {
    background-color: royalblue;
    color: white;
    padding-top: 6px;
}
#prof, #res, #port, #con {
    padding-left: 0px;
    padding-right: 0px;
    background-position: center;
    background-size: cover;
}
#scrollUp{
    padding-top: 1%;
    text-align: center;
}
#arrow{
    height: 4em;
    width: auto;
}
#scrollUp{
    height: 4.5em;
}
.back {
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    transition: 0.5s;
}
.back:hover {
    background-color: rgba(30, 30, 30, 0);
}
.sub {
    padding-top: 5%;
    padding-right: 10%;
    text-align: right;
}
.sub2 {
    padding-left: 10%;
    padding-top: 15%;
    width: 75%;
    text-align: left;
}
.element-head{
    text-align: center;
}
.element-content{
    padding-top: 5%;
    padding-bottom: 13%;
    font-size: 18px;
    padding-left: 15%;
    padding-right: 15%;
}
#wf {
    width: 70%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}
.col-md-6 {
    text-align: center;
}
.span-title{
    padding-top: 1em;
    text-align: center;
    padding-bottom: 2.5em;
}
.span-title h3{
    font-size: 32px;
}
#bio {
    text-align: left;
    font-size: 18px;
    padding-right: 15%;
    padding-left: 10%;
}
